// margin less top
.u-mlt {
  &-big {
    margin-top: -3rem;
  }

  &-md {
    margin-top: -1.5rem;
  }

  &-sm {
    margin-top: -.5rem;
  }
}

.u-mlb {
  &-big {
    margin-bottom: -3rem;
  }

  &-md {
    margin-bottom: -1.5rem;
  }

  &-sm {
    margin-bottom: -.5rem;
  }
}

.u-mb {
  &-big {
    margin-bottom: 3rem;
  }

  &-md {
    margin-bottom: 1.5rem;
  }

  &-sm {
    margin-bottom: .5rem;
  }
}

.u-mt {
  &-big {
    margin-top: 3rem;
  }

  &-md {
    margin-top: 1.5rem;
  }

  &-sm {
    margin-top: .5rem;
  }
}

.u-mr{
  &-big {
    margin-right: 3rem;
  }

  &-md {
    margin-right: 1.5rem;
  }

  &-sm {
    margin-right: .5rem;
  }
}

.u-padless{
  padding-top: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;

  &-t{
    padding-top: 0 !important;
  }

  &-l{
    padding-left: 0 !important;
  }

  &-r{
    padding-right: 0 !important;
  }

  &-b{
    padding-bottom: 0 !important;
  }
}

.u-mless{
  margin-top: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;

  &-t{
    margin-top: 0 !important;
  }

  &-l{
    margin-left: 0 !important;
  }

  &-r{
    margin-right: 0 !important;
  }

  &-b{
    margin-bottom: 0 !important;
  }
}

.u-center-text {
  text-align: center;
}

.u-text{
  &-secondary{
    color: $text-secondary !important;
  }
}

.u-pulled-right{
  float: right;
}

